@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:rgb(135, 151, 222);
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color:rgb(136, 135, 222);
	letter-spacing: 0.5px;
}
h2{
	color: rgb(135, 155, 222);
	letter-spacing: 0.5px;
	font-family: raleway;
}